<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Integrate"
        tools:targetApi="31">

        <!-- 主選單畫面 -->
        <activity android:name=".menu_kt" />

        <!-- ✅ 新增功能頁面 -->
        <activity android:name=".cal_bmi_kt" />
        <activity android:name=".tmp_kt" />
        <activity android:name=".guess_kt" />
        <activity android:name=".tic_kt" />
        <activity android:name=".snake_kt" />
        <activity android:name=".mines_kt" />
        <!-- 登入畫面，App 的啟動頁 -->
        <activity
            android:name=".login_kt"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
